.flash-box
  グループを作成しました

.wrapper

  = render "chat-side"

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          group-name
        %ul.member-list
          Member：
          %li.member-list__member
            member-name1
      = link_to root_path do
        .main-header__edit-btn
          Edit

    .messages
      .message
        .upper-info
          %p.upper-info__user
            user-name
          %p.upper-info__date
            yyyy/mm/dd() hh:mm
        .message__text
          massagemessagemessage...

    .form
      %form#new_message.new-message{ enctype: "multipart/form-data" }
        %input{ name: "utf8", type: "hidden", value: "✓" }
        .input-box
          %input#message_content.input-box__text{ placeholder: "type a message", type: "text" }
          %label.image-label{ for: "message_image" }
            %i.fa.fa-image
            %input#message_image.image-label__input{ type: "file" }
        %input.new-message__submit-btn{ type: "submit", name: "commit", value: "Send" }
