// background
$flashBox: #38aef0;
$sideHeader: #253141;
$sideGroupList: #2f3e51;
$mainHeader: #fff;
$mainMessages: #fafafa;
$form: #ddd;
$inputBox: #fff;
// font
$flashBoxFont: #fff;
$sideFont: #fff;
$currentGroupName: #333333;
$currentGroupMember: #999999;
$messageUser: #434a54;
$messageDate: #999999;
$messageText: #434a54;
// other
$border: #eeeeee;
