* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: #fff;
}

.flash-box {
  color: #fff;
  background-color: #38aef0;
  text-align: center;
}

.wrapper {
}

ul {
  list-style: none;
}

li {
  display: list-item;
}

div, p {
  display: block;
}

a {
  text-decoration: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
}

.chat-side {
  color: #fff;
  width: 300px;
  float: left;

  a {
    color: #fff;
  }

  .side-header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #253141;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    .user-menu {
      display: flex;
      li {
        margin-left: 0.3rem;
      }
    }
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0 20px;
    overflow: scroll;
    .group {
      margin-bottom: 40px;
      font-weight: bold;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__last-message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  float: left;
  width: calc(100vw - 300px);
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    .current-group {
      font-size: 20px;
      color: #333;
      margin-top: 35px;
      &__name {
        margin-bottm: 15px;
        font-size: 20px;
        color: #333333;
      }
      .member-list {
        font-size: 12px;
        color: #999999;
        display: flex;
        margin-top: 15px;
      }
    }
    &__edit-btn {
      margin-top: 28px;
      padding : 0 20px;
      height: 40px;
      line-height: 40px;
      color: #38aef0;
      border: solid 1px #38aef0;
    }
  }
  .messages {
    padding: 46px 40px;
    height: calc(100vh - 190px);
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      .upper-info {
        display: flex;
        margin-bottom: 10px;
        &__user {
          color: #434a54;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__text {
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
  }
  .new-message {
    display: flex;
    .input-box {
      width: 100%;
      position: relative;
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 10px;
        background-color: #fff;
        line-height: 50px;
        color: #434a54;
        border-style: none;
      }
      .image-label {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.3rem;
        cursor: pointer;
        &__input {
          display: none;
        }
      }
    }
    &__submit-btn {
      width: 100px;
      background-color: #38aef0;
      color: #fff;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
